body {
  margin: 0;
 
}
.dm-regular{
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-login{
 background-image: url('../public/bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bg-card{
  background: #382e22;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}